{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/cassettes.css' %}">
    {% include 'main_app/gsap-init.html' %}
    <style>
        html, body {
            height: 100vh;
            margin: 0;
            overflow: auto;
        }

        html {
            position: relative;
            overflow: hidden;
        }

        html::before {
            content: '';
            position: absolute;
            box-shadow: inset 0 0 50px rgba(0,0,0,0.8);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url({% static 'textures/brick-wall.jpg' %});
            background-repeat: repeat;
            background-size: 50%;
            filter: saturate(1.5) brightness(0.7) contrast(1.15);
            z-index: -1;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="w-dvw h-dvh text-center">
        <!-- <a class="align-middle ml-1 text-blue-500 hover:underline" href="{% url 'create-cassette' %}">Create Cassette</a> -->
        <ul class="gallery">
            {% include 'main_app/cassettes-list.html' %}
        </ul>
    </div>

    <input type="hidden" id="block" value="{{page_obj.number}}"> 
    <input type="hidden" id="blocks" value="{{page_obj.paginator.num_pages}}"> 
    <script src="{% static 'scripts/endless-list.js' %}"></script>
    <script src="{% static 'scripts/main_app/cassettes.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/main_app/cassettes-scroll.js' %}"></script>
{% endblock %}