{% load static %}

{% for cassette in page_obj %}
    <li class="cassette w-full relative rounded py-1 my-1 shadow-xl h-22 max-h-80"
        style="background: url({% static 'textures/green-dust-and-scratches.png' %});
        background-color: {{ cassette.color1 }};
        background-blend-mode: overlay;
        z-index: 4;">
        <div class="face side w-full flex flex-row justify-between items-center">
            <div class="relative w-full flex-1 mx-4 text-center h-full flex items-center justify-center">
                    <h2 class="text-7xl w-full text-black/60 reenie-beanie-regular overflow-hidden text-ellipsis line-clamp-1" style="
                    background: url({% static 'textures/groovepaper.png' %}); 
                    background-color: cornsilk; 
                    filter: url(#filter_tornpaper);">{{ cassette.title }}</h2>
                    <div class="absolute left-1/2 bottom-2 transform -translate-x-1/2 h-[2px] bg-gray-400/50 w-[98%]" style='background-image: url({% static "textures/groovepaper.png" %})'></div>
            </div>
            <button type="button" class="w-full h-full absolute hover:cursor-pointer toggler"></button>
        </div>
        <div class="face back rounded text-white reenie-beanie-regular" style="background: url({% static 'textures/green-dust-and-scratches.png' %});background-color: {{ cassette.color1 }};background-blend-mode: overlay;">
            <button class="hider w-full hover:bg-gray-500 h-7 transition text-center bg-gray-700 text-gray-200"><i class="fa-solid fa-arrow-up"></i></button>
            <div class="flex flex-row mx-2">
                {% if user == cassette.uploader %}
                    <p>{{cassette.title}} - {{cassette.author}}</p>
                    <p class="text-xs text-gray-400">uploaded by {{cassette.uploader}}</p>
                    <a type="button" class="text-red-600" href="{% url 'delete-cassette' cassette.id %}"><i class="fa-solid fa-trash bg-red"></i></a>
                {% endif %}
            </div>
            <div class="container px-10 w-2/3 h-2/3 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border-dashed border-2 border-black/60" 
                style="background: url({% static 'textures/groovepaper.png' %}); 
                       background-color: cornsilk; 
                       filter: url(#filter_tornpaper);
                       border-style: dashed;
                       border-spacing: 15px;
                       border-dash-length: 15px;">
                <div class="grid grid-cols-3 text-center font-semibold text-3xl">
                    <div class="p-2 border-dashed border-b border-r border-black/60 text-black/60">Title</div>
                    <div class="p-2 border-dashed border-b border-r border-black/60 text-black/60">Author</div>
                    <div class="p-2 border-dashed border-b border-black/60 text-black/60">Duration</div>
                </div>
            
                <div class="divide-y divide-black/60 divide-dashed text-3xl">
                    {% if user == cassette.uploader %}
                        <form method="POST" action="{% url 'create-song' cassette.id %}">
                            {% csrf_token %}
                            <div class="grid grid-cols-3 w-full bg-black/60 hover:bg-gray-500 h-10 transition text-left text-[cornsilk] overflow-hidden text-ellipsis line-clamp-1">
                                <span class="flex flex-row">
                                    <label for="file-input" class="cursor-pointer">
                                        <i class="fa-solid fa-file-circle-plus mx-2 my-1"></i>
                                    </label>
                                    <input type="file" id="file-input" class="hidden">
                                    <input class="overflow-hidden text-ellipsis line-clamp-1 placeholder:italic" placeholder="Song Title">
                                </span>
                                <input class="overflow-hidden text-ellipsis line-clamp-1 text-center placeholder:italic" placeholder="Song Author">
                                <button type="submit">Submit</button>
                                <!-- <input class="overflow-hidden text-ellipsis line-clamp-1"> -->
                            </div>
                        </form>
                    {% endif %}
                    
                    {% for song in cassette.songs.all %}
                        <button class="grid grid-cols-3 w-full text-gray-200 odd:bg-black/60 odd:text-[cornsilk] even:text-black/60 hover:bg-gray-500 h-10 transition text-left overflow-hidden text-ellipsis line-clamp-1" onclick="playSong('{{song.source|default:'' }}', '{{song.title}}', '{{song.author}}')">
                            <div class="overflow-hidden text-ellipsis line-clamp-1"><i class="fa-solid fa-play mx-2"></i>{{ song.title }}</div>
                            <div class="overflow-hidden text-ellipsis line-clamp-1 text-center">{{ song.author }}</div>
                            <div class="overflow-hidden text-ellipsis line-clamp-1">{{ song.source }}</div>
                        </button>
                    {% endfor %}
                </div>
            </div>                     
        </div>
    </li>  
{% empty %}
    <p>No cassettes available.</p> 
{% endfor %}

