{% load static %}

{% for cassette in page_obj %}
    <li class="w-full rounded py-1 flex flex-row justify-between items-center my-1 h-22 shadow-xl"
        style="background: url({% static 'textures/green-dust-and-scratches.png' %});
        background-color: {{ cassette.color1 }};
        background-blend-mode: overlay;">
        <!-- <button type="button" class='w-full h-full absolute hover:cursor-pointer'></button> -->
        {% if user == cassette.uploader %}<a type="button" href="{% url 'create-song' cassette.id %}">Create</a>{% endif %}
        <div class="relative flex-1 mx-4 text-center max-w-4xl h-full flex items-center justify-center">
            <div class="relative w-full">
                <h2 class="text-7xl text-black/60 reenie-beanie-regular truncate" style="
                background: url({% static 'textures/groovepaper.png' %}); 
                background-color: cornsilk; 
                filter: url(#filter_tornpaper);">{{cassette.title}}</h2>
                <div class="absolute left-1/2 bottom-2 transform -translate-x-1/2 h-[2px] bg-gray-400/50 w-[98%]" style='background-image: url({% static "textures/groovepaper.png" %})'></div>
            </div>
        </div>
        <a type="button" class="text-red-600" href="{% url 'delete-cassette' cassette.id %}">Delete</a>
    </li>  
{% empty %}
    <p>No cassettes available.</p> 
{% endfor %}
