{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/cassettes.css' %}">
    {% include 'main_app/gsap-init.html' %}
    <style>
        html, body {
            height: 100vh;
            margin: 0;
            overflow: auto;
        }

        html {
            position: relative;
            overflow: hidden;
        }

        html::before {
            content: '';
            position: absolute;
            box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url({% static 'textures/brick-wall.jpg' %});
            background-repeat: repeat;
            background-size: 50%;
            filter: saturate(1.5) brightness(0.7) contrast(1.15);
            z-index: -1;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="w-full h-full text-center">
        <ul class="gallery h-dvh p-5 gap-5 pb-15 perspective-midrange" id="carousel">
            <!-- Cassette Section (Ghost Cassette) -->
                <form class="relative w-full shrink-0 max-w-[70%] snap-center aspect-[102/64] shadow-xl px-8 pt-7 rounded-2xl" style="background: url({% static 'textures/concrete-wall-2.png' %});
                background-color: black;
                background-blend-mode: overlay;
                box-shadow: inset 0.2rem 0.2rem 6px rgba(255,255,255, 0.5)">
                    <div class="paper w-full h-4/5 rounded-lg bg-[cornsilk]" style="background: url({% static 'textures/clean-gray-paper.png' %}); background-color: cornsilk; box-shadow: 0.2rem 0.2rem 6px rgba(255,255,255, 0.5)">
                        <div class="flex flex-col absolute left-1/2">
                            <input spellcheck="false" type="text" class="cassette-title permanent-marker-regular text-7xl left-1/2 -translate-x-1/2 truncate text-black placeholder:text-black placeholder:text-center text-center" placeholder="Cassette Title" style="z-index: 400">
                            <input spellcheck="false" type="text" class="cassette-title permanent-marker-regular text-3xl left-1/2 -translate-x-1/2 truncate text-black/80 placeholder:text-black/80 placeholder:text-center text-center" placeholder="Cassette Author" style="z-index: 400">
                        </div>
                        <div id="center-row" class="cassette-controls w-full relative top-1/2 -translate-y-1/2 h-4/11">
                            <div class="cassette-reel w-2/3 h-full absolute left-1/2 -translate-x-1/2 top-0 rounded-full" style="box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0.2rem 0.2rem 6px rgba(255,255,255, 0.5); background: url({% static 'textures/concrete-wall-2.png' %});
                            background-color: black;
                            background-blend-mode: overlay;">
                                <div class="reel-left absolute left-0 inset-y-0 mx-[4%] my-auto aspect-square w-1/5 rounded-full bg-black/60 overflow-hidden" style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);">
                                    <svg width="100%" height="100%" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="100" cy="100" r="97" fill="none" stroke="cornsilk" stroke-width="10"/>
                                        <g transform="translate(100, 100)">
                                            <g id="toothghost">
                                                <rect x="-10" y="-100" width="25" height="25" fill="cornsilk"/>
                                            </g>
                                            <use href="#toothghost" transform="rotate(60)"/>
                                            <use href="#toothghost" transform="rotate(120)"/>
                                            <use href="#toothghost" transform="rotate(180)"/>
                                            <use href="#toothghost" transform="rotate(240)"/>
                                            <use href="#toothghost" transform="rotate(300)"/>
                                        </g>
                                    </svg>
                                </div>
                                <div class="reel-right absolute right-0 inset-y-0 mx-[4%] my-auto aspect-square w-1/5 bg-black/60 overflow-hidden rounded-full" style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);">
                                    <svg width="100%" height="100%" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="100" cy="100" r="97" fill="none" stroke="cornsilk" stroke-width="10"/>
                                        <g transform="translate(100, 100)">
                                            <g id="toothghost">
                                                <rect x="-10" y="-100" width="25" height="25" fill="cornsilk"/>
                                            </g>
                                            <use href="#toothghost" transform="rotate(60)"/>
                                            <use href="#toothghost" transform="rotate(120)"/>
                                            <use href="#toothghost" transform="rotate(180)"/>
                                            <use href="#toothghost" transform="rotate(240)"/>
                                            <use href="#toothghost" transform="rotate(300)"/>
                                            <use href="#toothghost" transform="rotate(360)"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>                                       
                            <button id="colorPickerButton" class="w-full h-1/3 cursor-pointer" style="z-index: 9993;">
                                <input type="color" id="colorPicker" class="w-full h-full p-0 m-0" value="#000000" style="z-index: 9999">
                            </button>
                            <button id="colorPickerButton" class="w-full h-1/3 cursor-pointer" style="z-index: 9998;">
                                <input type="color" id="colorPicker" class="w-full h-full p-0 m-0" value="#000000" style="z-index: 9999">
                            </button>
                            <button id="colorPickerButton" class="w-full h-1/3 cursor-pointer" style="z-index: 9998;">
                                <input type="color" id="colorPicker" class="w-full h-full p-0 m-0" value="#000000" style="z-index: 9999">
                            </button>
                        </div>
                    </div>
                    <div class="mx-auto trapezoid w-9/12 h-1/5" style="background: url({% static 'textures/concrete-wall-2.png' %});
                    background-color: black;
                    background-blend-mode: overlay;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0.2rem 0.2rem 6px rgba(255,255,255, 0.5)"></div>
                </form>
            {% include 'main_app/cassettes-list.html' %}
        </ul>
    </div>

    <input type="hidden" id="block" value="{{ page_obj.number }}">
    <input type="hidden" id="blocks" value="{{ page_obj.paginator.num_pages }}">
    <script src="{% static 'scripts/endless-list.js' %}"></script>
    <script src="{% static 'scripts/main_app/cassettes.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/main_app/cassettes-scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/main_app/carousel.js' %}"></script>
{% endblock %}
