{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<style>
    body {
        background-color: #008080;
    }
</style>
{% endblock %}   

{% block content %}
<div class="mx-auto window mt-36 overflow-hidden w-1/3">
    <form method="POST" action="{% url 'create-cassette' %}" class="space-y-4 window-body">
        {% csrf_token %}
        <div>
            <label for="title" class="block text-sm font-medium">Title</label>
            <input id="title" name="title" type="text" required class="input-text-style w-full p-2" />
        </div>
        <div>
            <label for="author" class="block text-sm font-medium">Author</label>
            <input id="author" name="author" type="text" required class="input-text-style w-full p-2" />
        </div>
        <div>
            <label for="description" class="block text-sm font-medium">Description</label>
            <textarea id="description" name="description" class="input-text-style w-full p-2"></textarea>
        </div>
        <div>
            <label for='is_public'>Public</label>
            <input type="checkbox" id="is_public" name="is_public" class="form-checkbox ml-3 text-yellow-100" />
        <div>
            <label class="block text-sm font-medium">Colors</label>
            <p>Body Color</p>
            <input name="color1" class='w-full p-2' required type='color'>
            <input name="color2" class='w-full p-2' required type='color'>
            <input name="color3" class='w-full p-2' required type='color'>
            <input name="accent_color" class='w-full p-2' required type='color'>
        </div>
        <button type="submit" class="w-full py-2 px-4 button-style">Add Cassette</button>
    </form>

    {% for message in messages %}
        <div class="py-2 px-4">
            <p class="text-wrap {% if message.tags == 'success' %}text-amber-700{% elif message.tags == 'error' %}text-red-600{% endif %}">
                {{ message }}
            </p>
        </div>
    {% endfor %}
</div>
{% endblock %}
