{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/cassettes.css' %}">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow: auto;
        }

        html {
            position: relative;
            overflow: hidden;
        }

        html::before {
            content: '';
            position: absolute;
            box-shadow: inset 0 0 50px rgba(0,0,0,0.8);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url({% static 'textures/brick-wall.jpg' %});
            background-repeat: repeat;
            background-size: 50%;
            filter: saturate(1.5) brightness(0.7) contrast(1.15);
            z-index: -1;
        }
    </style>
{% endblock %}    

{% block content %}
    <div class="container mx-auto size-full h-screen text-center perspective-distant relative">
        <span class="flex flex-row items-center justify-center">
            <h1 class="text-yellow-100">Cassettes List</h1>
            <a class="align-middle ml-1 text-blue-500 hover:underline" href="{% url 'create-cassette' %}">Create Cassette</a>
        </span>


        <ul class="mx-2 text-amber-700 flex flex-col justify-center" id='list'>
            {% include 'main_app/cassettes-list.html' %}
        </ul>
    </div>

    <input type="hidden" id="block" value="{{page_obj.number}}"> 
    <input type="hidden" id="blocks" value="{{page_obj.paginator.num_pages}}"> 
    <script src="{% static 'scripts/endless-list.js' %}"></script>
    <script src="{% static 'scripts/main_app/cassettes.js' %}"></script>
{% endblock %}