{% extends 'base.html' %}

{% block content %}
  <div class="w-1/3 bg-gray-200 rounded-lg">
    <form method="post" action="{% url 'login' %}">
      {%csrf_token%}
      <div class="mx-2">
        <p class="mb-0" style="font-weight: 500;">Username</p>
        <input type="text" name="username" class="mb-1 w-full h-5 bg-white rounded-md" id="floatingInput">
        <span class="flex flex-row justify-between">
          <p class="mb-0" style="font-weight: 500;">Password</p>
          <a href="#" class="ml-5" style="color: #007AFF; font-size: 12px; text-decoration: none;">Forgot password?</a>
        </span>
        <input type="password" name="password" class="auth-input mb-0 w-full h-5 bg-white rounded-md" id="floatingPassword">
        <button type="submit" class="w-full h-5 bg-blue-500 mt-1 text-xs text-white font-bold rounded-md">Login</button>
        <p>Have no account? <a href="{% url 'register'%}">Register here!</a></p>
      </div>
    </form>
  </div>
{% endblock %}
