{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'auth_app/auth.css' %}">
{% endblock %}

{% block content %}
  <div class="flex justify-center items-center min-h-screen">
    <div class="window w-1/3">
      <form method="post" action="{% url 'register' %}" class="window-body">
        {% csrf_token %}
        <div class="mx-2">
          <p class="mb-0 font-bold text-black">Username</p>
          <input type="text" name="username" class="input-text-style mb-1 w-full h-6 required:border-red-500 invalid:border-red-600" id="floatingInput" required>
          <p class="mb-0 font-bold text-black">Password</p>
          <input type="password" name="password1" class="input-password-style mb-1 w-full h-6 required:border-red-500 invalid:border-red-600" id="floatingPassword" required>
          <p class="mb-0 font-bold text-black">Repeat Password</p>
          <input type="password" name="password2" class="input-password-style mb-2 w-full h-6 required:border-red-500 invalid:border-red-600" id="floatingPasswordRepeat" required>
          <button type="submit" class="button-style text-sm text-black">Register</button>
          <p class="mt-2">Have an account? <a href="{% url 'login' %}" class="text-blue-600 no-underline">Login here!</a></p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
