html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
}

.gallery {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.paper {
    position: relative;
    overflow: hidden;
}

.paper::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5)
}

.trapezoid {
    z-index: -1;
    transform: perspective(10px) rotateX(0.7deg) translateZ(-1px);   
}