@font-face {
    font-family: 'LCD Dot';
    src: url('./fonts/lcddot_tr.ttf');
}

.reenie-beanie-regular {
    font-family: "Reenie Beanie", serif;
    font-weight: 400;
    font-style: normal;
}

.indie-flower-regular {
    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
    background: url(./textures/groovepaper.png);
    background-clip: text;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}

.frijole-regular {
    font-family: "Frijole", serif;
    font-weight: 400;
    font-style: normal;
}

.avatar-cap {
    size: 1cap;
    aspect-ratio: 1/1;
}

.rubik-storm-regular {
    font-family: "Rubik Storm", system-ui;
    font-weight: 400;
    font-style: normal;
}