@font-face {
    font-family: 'LCD Dot';
    src: url('./fonts/lcddot_tr.ttf') format('truetype');
}

.reenie-beanie-regular {
    font-family: "Reenie Beanie", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
    background: url(./textures/groovepaper.png);
    background-clip: text;
}