{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} Vibes & Stuff {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'vibes.png' %}" />
        <link rel="stylesheet" href="{% static 'cassette-player.css' %}" />
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="stylesheet" href="{% static 'u98.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main_app/cassettes.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&family=Reenie+Beanie&display=swap&family=Frijole&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7283992a6b.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
        <script src="{% static 'scripts/tornpaper.js' %}"></script>
        <script type="module" src="https://unpkg.com/metallicss@4.0.3/dist/metallicss.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const paperEffect = new TornPaper();
                document.querySelectorAll(".torn-effect").forEach(el => paperEffect.applyTo(el));
            });
        </script>
        {% block extra_head %} {% endblock %}
    </head>
    <body class="md:text-base">       

        {% block content %}
        {% endblock %}

        
        {% include 'cassette-player.html' %}
    </body>
</html>
