{% load static %}

<div id="cassette-player" class="fixed bottom-2 p-2 rounded-xl w-full md:w-1/4 bg-[#2a2a2a] max-h-3/4 object-bottom left-1/2 -translate-x-1/2 transition duration-300 delay-200 ease-in-out" style="z-index: 9999; box-shadow: 0 0 5px rgba(0,0,0,0.5), inset 0.2rem 0.2rem 4px rgba(255,255,255,0.3)">
    
    <div id="lcd-monitor" class='lcd-monitor rounded-lg mb-2 h-28'>
        <span class="flex flex-col gap-0 p-0 m-1">
            <p class='text-4xl/6 m-0 font-bold' id="song-title">-------</p>
            <p class='text-2xl/6 m-0 mt-0' id="song-author">-----</p>
        </span>
        
        <audio controls src="" id="song-player"></audio>
    </div>

    <nav class='flex flex-row p-1 gap-1 rounded-lg bg-black mt:text-standart text-2xl text-gray-300 text-center align-center'>
        <a href="{% url 'main-page' %}" class='bg-[#2a2a2a] border-[1px] border-t-[#383838] text-black p-1 rounded-md flex-grow flex items-center justify-center' style="text-shadow: -1px -1px 1px rgb(224, 224, 224, 0.1);"> 
          <img src="{% static 'vibes.png' %}" class="size-[1.5rem]">
        </a>
        <a href="{% url 'cassettes-list' %}" class='bg-[#2a2a2a] border-[1px] border-t-[#383838] text-black p-1 rounded-md flex-grow' style="text-shadow: -1px -1px 1px rgb(224, 224, 224, 0.1);">Cassettes</a>
        <a href="{% url 'image-list' %}" class='bg-[#2a2a2a] border-[1px] border-t-[#383838] text-black p-1 rounded-md flex-grow' style="text-shadow: -1px -1px 1px rgb(224, 224, 224, 0.1);">Gallery</a>
        {% comment %} <a href="{% url 'topic-list' %}" class='text-blue-500 hover:underline'>Forum</a> {% endcomment %}
        {% if user.is_authenticated %}
          <a href="{% url 'profile' user.id %}" class='bg-[#2a2a2a] border-[1px] border-t-[#383838] text-black px-1 rounded-md flex-grow flex items-center justify-center' style="text-shadow: -1px -1px 1px rgb(224, 224, 224, 0.1);">{{user.username}}
            <img src="{{user.avatar.url}}" class="size-[1.5rem] rounded-sm ml-auto">
          </a>
        {% else %}
        <a href="{% url 'login' %}" class='bg-[#2a2a2a] border-[1px] border-t-[#383838] text-black p-1 rounded-md flex-grow' style="text-shadow: -1px -1px 1px rgb(224, 224, 224, 0.1);">Login</a>
        <a href="{% url 'register' %}" class='bg-[#2a2a2a] border-[1px] border-t-[#383838] text-black p-1 rounded-md flex-grow' style="text-shadow: -1px -1px 1px rgb(224, 224, 224, 0.1);">Register</a>
        {% endif %}
    </nav>    

    <div class="radio-input mt-2">
        <label class="label w-1/6">
          <div class="back-side"></div>
          <input type="radio" id="value-1" name="play-pause-radio" value="value-1" />
          <span class="text">
            <i class="fa-solid fa-play absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl"></i>
          </span>
          <span class="bottom-line"></span>
        </label>
      
        <label class="label w-1/6">
          <div class="back-side"></div>
          <input type="radio" id="value-2" name="play-pause-radio" value="value-2" />
          <span class="text">
            <i class="fa-solid fa-pause absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl"></i>
          </span>
          <span class="bottom-line"></span>
        </label>

        <label class="label w-1/6">
            <div class="back-side"></div>
            <input type="checkbox" id="value-3" value="value-3" />
            <span class="text">
              <i class="fa-solid fa-repeat absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl"></i>
            </span>
            <span class="bottom-line"></span>
        </label>

        <label class="label w-1/6">
            <div class="back-side"></div>
            <input type="checkbox" id="value-4" value="value-4" />
            <span class="text">
              <i class="fa-solid fa-shuffle absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl"></i>
            </span>
            <span class="bottom-line"></span>
        </label>

        <label class="label w-1/6">
            <div class="back-side"></div>
            <input type="button" id="value-5" value="value-5" />
            <span class="text">
              <i class="fa-solid fa-backward absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl"></i>
            </span>
            <span class="bottom-line"></span>
        </label>

        <label class="label w-1/6">
            <div class="back-side"></div>
            <input type="button" id="value-6" value="value-6" />
            <span class="text">
              <i class="fa-solid fa-forward absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl"></i>
            </span>
            <span class="bottom-line"></span>
        </label>
    </div>      
</div>
<script src="{% static 'scripts/main_app/audio-player.js' %}"></script>
<script src="{% static 'scripts/cassette-player.js' %}"></script>