{% load static %}

<div class="fixed bottom-0 rounded-xl w-1/4 bg-gray-500 hidden h-2/4 object-bottom left-1/2 -translate-x-1/2" style="z-index: 9999;">
    <div class='lcd-monitor rounded-xl'>
        <span class="flex flex-col gap-0 p-0 m-1">
            <p class='text-4xl/6 m-0 font-bold' id="song-title">-------</p>
            <p class='text-2xl/6 m-0 mt-0' id="song-author">-----</p>
        </span>
        
        <audio autoplay controls src="" id="song-player"></audio>
        <!-- h-[1cap] aspect-square для иконок-->
    </div>

    <nav class='flex flex-row p-1 gap-1'>
        <p> navbar </p>
        <a href="{% url 'cassettes-list' %}" class='text-blue-500 hover:underline'>Cassettes</a>
        <a href="{% url 'image-list' %}" class='text-blue-500 hover:underline'>Gallery</a>
        {% comment %} <a href="{% url 'topic-list' %}" class='text-blue-500 hover:underline'>Forum</a> {% endcomment %}
        <a href="{% url 'login' %}" class='text-blue-500 hover:underline'>Login</a>
        <a href="{% url 'register' %}" class='text-blue-500 hover:underline'>Register</a>
        {% if user.is_superuser %}<a href="/admin/" class='text-blue-500 hover:underline'>Admin</a>{% endif %}
    </nav>    

    <div class="radio-input">
        <label class="label w-1/6">
          <div class="back-side"></div>
          <input type="radio" id="value-1" name="play-pause-radio" value="value-1" />
          <span class="text">
            <i class="fa-solid fa-play absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl"></i>
          </span>
          <span class="bottom-line"></span>
        </label>
      
        <label class="label w-1/6">
          <div class="back-side"></div>
          <input type="radio" id="value-2" name="play-pause-radio" value="value-2" />
          <span class="text">
            <i class="fa-solid fa-pause absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl"></i>
          </span>
          <span class="bottom-line"></span>
        </label>

        <label class="label w-1/6">
            <div class="back-side"></div>
            <input type="checkbox" id="value-3" value="value-3" />
            <span class="text">
              <i class="fa-solid fa-repeat absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl"></i>
            </span>
            <span class="bottom-line"></span>
        </label>

        <label class="label w-1/6">
            <div class="back-side"></div>
            <input type="checkbox" id="value-4" value="value-4" />
            <span class="text">
              <i class="fa-solid fa-shuffle absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl"></i>
            </span>
            <span class="bottom-line"></span>
        </label>

        <label class="label w-1/6">
            <div class="back-side"></div>
            <input type="button" id="value-5" value="value-5" />
            <span class="text">
              <i class="fa-solid fa-backward absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl"></i>
            </span>
            <span class="bottom-line"></span>
        </label>

        <label class="label w-1/6">
            <div class="back-side"></div>
            <input type="button" id="value-6" value="value-6" />
            <span class="text">
              <i class="fa-solid fa-forward absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl"></i>
            </span>
            <span class="bottom-line"></span>
        </label>
    </div>      
</div>
<script src="{% static 'scripts/main_app/audio-player.js' %}"></script>