{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <p> this is main page </p>
        {% if user.is_authenticated %}
            <a href="{% url 'profile' user.id %}">{{ user.username }}</a>
        {% endif %} 
    </main> 
    
    <footer class="text-center">
        <p>vibesandstuff.nostalgic@gmail.com</p>
        <p class="text-xs">We are not responsible for copyright infringements related to user-uploaded content. In the event of a copyright violation, the content will be deleted upon request.</p>
    </footer>
{% endblock %}