{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel='stylesheet' href='{% static "gallery_app/images.css" %}'>
    <style>
        html, body {
            height: 100vh;
            margin: 0;
            overflow: auto;
        }

        html {
            position: relative;
            overflow: hidden;
        }

        html::before {
            content: '';
            position: absolute;
            box-shadow: inset 0 0 50px rgba(0,0,0,0.8);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url({% static 'textures/brick-wall.jpg' %});
            background-repeat: repeat;
            background-size: 50%;
            filter: saturate(1.5) brightness(0.7) contrast(1.15);
            z-index: -1;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="md:grid md:grid-cols-4 md:gap-9 px-auto m-5 flex flex-col gap-6" style="grid-template-rows: 55% auto;">
        {% if user.is_authenticated %}
            <form method="POST" enctype="multipart/form-data" action="{% url 'add-image' %}" class="size-full border-3 border-dashed border-gray-300 relative aspect-square bg-transparent px-4 py-5">
                {% csrf_token %}
                <input type="file" class="object-cover border-3 border-dashed border-gray-300 relative w-full h-[80%]">
                <input type="text" placeholder="Add Image" class="text-5xl text-gray-300 relative text-start overflow-hidden text-ellipsis whitespace-nowrap mt-4 permanent-marker-regular">
                <button type="submit">Submit</button>
            </form>
        {% endif %}
        {% for image in images %}
            <div class="size-full relative aspect-square bg-gray-300 px-4 py-5">
                <img src="{{ image.image.url }}" alt="{{ image.description }}" class="object-cover relative w-full h-[80%]">
                <div class="text-5xl relative text-start overflow-hidden text-ellipsis whitespace-nowrap mt-4 permanent-marker-regular">
                    {{ image.title }}
                </div>
            </div>
        {% endfor %}
    </div>
  

    <script src='{% static "scripts/gallery_app/images.js" %}'></script>
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
{% endblock %}
